.wrapper {
    display: flex;
    flex-direction: row;
    background-color: #EDEEF0;
    height: 100%;
    padding: 0;
    overflow: hidden;
    padding-bottom: 5%;
}

.wrapper-main{
    width: 50%;
    margin-top: 5%;
}

.container-main{
    margin-left: 10%;
    margin-right: 5%;
}

.container-first{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;

}

.wrapper-map{
    display: flex;
    margin-top: 60px;
    align-self:center;
}

.container-map{
    display: flex;
    justify-content: center;
    align-content: center;
}

.head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrapper-overview{
    width: 50%;
    margin-top: 5%;
}

.container-overview{
    margin-left: 5%;
    margin-right: 17%;
}

.stick{
    width: 60%;
    height: 3px;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #0A1C34;
}

.container-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper-text{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.container-post{
    display: flex;
    justify-content: left;
    font-size: 30px;
}

.text{
    font-size: 30px;
    text-align: justify;

}
.head h1{
    font-weight: 600 ;
    font-size: 3vw;
    font-family: monospace;
    color: #0A1C34;
}

.text p:not(:last-child){
  font-weight: 300 ;
  font-size: 1.5vw;
  text-indent: 2.4vw;
  margin-bottom: 1.5vh;
  color:#2E4553;
}
.text p:last-child{
  font-weight: 300 ;
  font-size: 1.5vw;
  margin-bottom: 1.5vh;
  color:#2E4553;
}

.post-text{
    display: flex;
    flex-direction: row;
}

.post-text p{
    font-family: monospace;
}

.post-logo{
    width: 40px;
    height: 30px;
}



.container-map-big{
    visibility: visible;
}

.container-map-big-middle{
    visibility: hidden;
    width: 0;
    height: 0;
}

.container-map-middle{
    visibility: hidden;
    width: 0;
    height: 0;
}

.container-map-small{
    visibility: hidden;
    width: 0;
    height: 0;
}

p{
    margin-top: 0;
}

@media (max-width: 1400px){
    .container-map-big{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .container-map-big-middle{
        width: 500px;
        height: 500px;
        visibility: visible;
    }

    .container-map-middle{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .container-map-big{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .text{
        font-size: 28px;
        text-align: justify;
        line-height: 1.4;
    }

    .container-post{
        font-size: 28px;
    }

    .post-logo{
        width: 36px;
        height: 26px;
    }

    .wrapper-main{
        margin-top: 5%;
    }

    .wrapper-overview{
        margin-top: 5%;
    }

    h1{
        font-weight: 500 ;
        font-size: 3.4vw;
        font-family: monospace;

        margin-bottom: 20px;
    }
}

@media (max-width: 1200px){
    .container-map-big{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .container-map-big-middle{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .container-map-middle{
        width: 400px;
        height: 400px;
        visibility: visible;
    }

    .wrapper-text{
        margin-top: 20px;
    }

    .text{
        font-size: 24px;
        text-align: justify;
            line-height: 1.4;
    }

    .container-post{
        font-size: 24px;
    }

    .post-logo{
        width: 32px;
        height: 22px;
    }

    .wrapper-map{
        margin-top: 20px;
    }

    .wrapper-main{
        margin-top: 5%;
    }

    .wrapper-overview{
        margin-top: 5%;
    }

    h1{
        font-size: 40px;
        font-family: monospace;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 900px){
    .container-map-small{
        width: 320px;
        height: 320px;
        visibility: visible;
    }

    .container-map-middle{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .wrapper-text{
        margin-top: 20px;
    }

    .text{
        font-size: 24px;
        text-align: justify;
            line-height: 1.4;
    }

    .container-post{
        font-size: 24px;
    }

    .post-logo{
        width: 32px;
        height: 22px;
    }

    .wrapper-map{
        margin-top: 20px;
    }

    .wrapper-main{
        margin-top: 5%;
    }

    .wrapper-overview{
        margin-top: 5%;
    }

    h1{
        font-size: 40px;
        font-family: monospace;
        font-weight: 600;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 768px){
    .wrapper{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .wrapper-overview{
        width: 80%;
        margin-top: 1vh;
    }

    .wrapper-main{
        width: 80%;
        margin-top: 1vh;
    }
    .head .stick{
        margin-top: 1vh;
    }

    .container-overview{
        margin: auto;
    }

    .container-main{
        margin: auto;
    }
    .text p:not(:last-child){
        font-weight: 400 ;
        font-size: 3.6vw;
        text-indent: 7vw;
        margin-bottom: 1vh;
    }
    .text p:last-child{
        font-weight: 400 ;
        font-size: 3.6vw;

        margin-bottom: 1vh;
    }
    .head h1{
        font-weight: 400 ;
        font-size: 8vw;
    }

}