:root {
    --background-color: #EDEEF0;
    --button-bg-color: #D9D9D9;
    --button-selected-bg-color: #5A89B9;
    --text-color: #000000;
    --text-selected-color: #ffffff;
    --stick-bg-color: #0A1C34;
}
    .option-toggle .button-wrapper{
        flex:1;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.service-container {
    display: flex;
    width: 100%;
    height: 60%;
}

.service-img-container {
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-image {
    width: 100%;
    height: auto;
    max-height: 72%;
    object-fit: contain;
}

.service-about {
    width: 57%;
    display: flex;
    flex-direction: column;
}

.service-name {
    margin: 6% 0 3% 0;
    font-size: x-large;
}

.option-toggle {
    display: flex;
    justify-content: center;
    border-radius: 14px;
    overflow: hidden;
    background-color: var(--button-bg-color);
    margin-bottom: 3%;
    width: fit-content;
}

.option-button {
    border: none;
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: medium;
}

.option-button.selected {
    background-color: var(--button-selected-bg-color);
    color: var(--text-selected-color);
    height:100%;
    width: 100%;
}

.option-toggle .option-button.selected {
    border-radius: 14px;
}

.option-container {
    display: flex;
    flex-direction: column;
}

.stick-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stick {
    width: 96%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--stick-bg-color);
}

.menu {
    display: flex;
    column-gap: 13%;
    margin: 3% 8% 0;
}

.data-button {
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    cursor: pointer;
    font-size: medium;
}

.data-button.selected {
    background-color: var(--button-selected-bg-color);
    color: var(--text-selected-color);
}

.description-data,
.deliver-data,
.payment-data {
    display: none;
    width: 60%;
    margin: 3% 8%;
    flex-direction: column;
}

.example {
    width: 43%;
    display: flex;
}

#example-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    margin-top: 10%;
}

.description-data.active,
.deliver-data.active,
.payment-data.active {
    display: flex;
}

@media (max-width: 768px) {

    .main-container{
        padding: 5% 10% 5% 10%;
    }

    .service-container {
        flex-direction: column;
        height: auto;
    }

    .service-img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service-image {
        width: 100%;
        height: auto;
        max-height: 60%;
        object-fit: contain;
    }

    .service-about {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .service-name {
        font-size: 5vw;
        margin: 10px 0;
        text-align: center;
    }

    .option-toggle {
        display: flex;
        align-items: normal;
        border-radius: 14px;
        background-color: var(--button-bg-color);
        margin-bottom: 3%;
    }

    .option-toggle .button-wrapper{
        height: auto;
        flex:1;
        display: flex;
        justify-content: center;
    }

    .option-button {
        text-align: center;
        border: none;
        padding: 5px;
        background-color: var(--button-bg-color);
        color: var(--text-color);
        cursor: pointer;
        font-size: 3vw;
        width: 100%;
    }

    .option-container {
        width: 100%;
        margin-top: 20px;
    }

    .service-description{
        width: 100%;
        font-size:  3vw;
    }

    .description-data,
    .deliver-data,
    .payment-data {
        width: 100%;
        margin: 10px 0;
        padding: 0 10px;
        font-size:  3vw;
    }

    .menu {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            row-gap: 10px;
            margin: 20px 0;
    }

    .menu button{
        padding: 10px 10px;
        min-width: 22vw;
        font-size:  3.6vw;
    }

    .data-button {
        width: 80%;
        padding: 10px 0;
    }

    .example-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .example {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #example-image {
        width: 100%;
        max-width: 80%;
        height: auto;
        object-fit: contain;
        margin-top: 10%;
    }

}