{% extends "web/app.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'RGButterfly/css/service.css' %}" type="text/css" media="all">

<div class="main-container">
    <section class="service-container">
        <article class="service-img-container">
            <img src="{{ service.service_image.url }}" alt="{{ service.service_name }}" class="service-image">
        </article>
        <article class="service-about">
            <h2 class="service-name">{{ service.service_name }}</h2>
            <div class="option-toggle">
                {% for option in options %}
                    <div class = "button-wrapper"><button id="option-{{ option.id }}" class="option-button" data-option='{"name": "{{ option.option_name }}", "description": "{{ option.options_description }}"}' data-image-url="{{ option.option_image.url }}" onclick="toggleOption('{{ option.id }}')">{{ option.option_name }}</button></div>
                {% endfor %}
            </div>
            <div class="service-description">
                <p>{{ service.service_description }}</p>
            </div>
        </article>
    </section>

    <aside class="option-container">
        <div class="stick-container">
            <div class="stick"></div>
        </div>

        <nav class="menu">
            <button id="description-btn" class="data-button" onclick="toggleDisplay('.description-data')">Описание</button>
            <button id="deliver-btn" class="data-button" onclick="toggleDisplay('.deliver-data')">Доставка</button>
            <button id="payment-btn" class="data-button" onclick="toggleDisplay('.payment-data')">Оплата</button>
        </nav>

        <section class="description-data">
            <div class="text" id="description-text">
                Выберите опцию для отображения описания.
            </div>
            <div class="example">
                <img id="example-image" src="" alt="">
            </div>
        </section>
        <section class="deliver-data">
            <p>Информация о доставке</p>
        </section>
        <section class="payment-data">
            <p>Информация об оплате</p>
        </section>
    </aside>
</div>

<script src= "{% static '/RGButterfly/js/service.js' %}"> </script>
{% endblock %}
